<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
    <meta name="description" content="{{ meta.description }}">
    {% endif %}{% if meta.robots %}
    <meta name="robots" content="{{ meta.robots }}">
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css" />

    <script src="{{ theme_url }}/scripts/modernizr-2.6.1.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/kei0ded.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<div class="ego-container tk-museo-sans">
    <img src="{{ theme_url }}/images/motorheadmagnus.png"/>
    <div id="title">
        <h1>MEST MAGNUS</h1>
        <div class="description">
            Webbutvecklare, musiknjutare, nostalgiker, skivsamlare
        </div>
    </div>
</div>

<div id="content-container">



<section id="content">
    <div class="inner">

        <!--
        {% for page in pages %}
            {{ page.title }}<br/>
        {% endfor %}  -->

        <div class="speechbubble-tip"></div>

        {% if is_front_page %}
        <div id="posts">
            {% if pages|last.date %} <!-- Note we check for Date field (posts) here -->

            <span class="date tk-museo-sans">{{ pages|last.date|swedate }}</span>
            <h2><!--a href="{{ page.url }}">{% filter upper %}{{ pages|last.title }}{% endfilter %}</a-->
                <a href="{{ page.url }}">{{ pages|last.title }}</a>
            </h2>
            <div class="post tk-museo-sans">
                <p class="excerpt">{{ pages|last.content }}</p>
            </div>
            {% endif %}
        </div>
        {% else %}
        <div class="post">
            {% if meta.title %}<h2>{{ meta.title }}</h2>{% endif %}
            <p class="meta">{{ meta.date_formatted }}</p>
            {{ content }}
        </div>
        {% endif %}
    </div>
</section>

</div>

</body>
</html>